body {
    background-color: #fcfcfc;
}


.container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "navbar navbar"
    "heading_1 heading_1"
    "subheading_1 subheading_1"
    "paragraph_1 image_1"
    "subheading_2 subheading_2"
    "paragraph_2 paragraph_2"
    "subheading_3 subheading_3"
    "paragraph_3 image_2"
    "subheading_4 subheading_4"
    "paragraph_4 paragraph_4"
    "footer footer";
    margin: 10%;
}

.navbar {
    grid-area: navbar;
    background-color: #03045e;
}

.navbar ul {
    list-style-type: none;
}

.navbar li{
    display: inline;
    padding: 30px;
    color: #fcfcfc;
}

/*.navbar a {
    padding:20px
}*/

.heading_1 {
    grid-area: heading_1;
    color: #0077b6;
    padding: 20px;
}

.subheading_1 {
    grid-area: subheading_1;
    padding: 10px;
    background-color: #90e0ef;
    text-align: center;
}

.paragraph_1 {
    grid-area: paragraph_1;
    background-color: #caf0f8;
    padding: 30px;
    text-align: center;
}

.image_1 {
    grid-area: image_1;
}

.subheading_2 {
    grid-area: subheading_2;
    text-align: center;
    background-color: #caf0f8;
    padding: 10px;
}

.paragraph_2 {
    grid-area: paragraph_2;
    background-color: aliceblue;
    text-align: center;
    padding: 20px;
}

.subheading_3 {
    grid-area: subheading_3;
    text-align: center;
    padding: 20px;
}

.paragraph_3 {
    grid-area: paragraph_3;
    background-color: aliceblue;
    text-align: center;
    padding: 20px;
}

.image_2 {
    grid-area: image_2;
}

.subheading_4 {
    grid-area: subheading_4;
    text-align: center;
    padding: 20px;
}

.paragraph_4 {
    grid-area: paragraph_4;
    background-color: aliceblue;
    text-align: center;
    padding: 20px;
}

.footer {
    grid-area: footer;
    padding: 20px;
    background-color: #03045e;
    color: aliceblue;
}
